In [1]:
import numpy as np
import pandas as pd

In [4]:
my_tuple = list(zip(*[[1,2,3,4,5, 17,91, 23],[6,7,8,9,0,11,22,33,44,55]]))

In [11]:
my_tuple

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 0), (17, 11), (91, 22), (23, 33)]

In [6]:
index = pd.MultiIndex.from_tuples(my_tuple, names = ["1st", "2nd"])  ## used for multi indexing

In [10]:
df = pd.DataFrame(np.random.randn(8,2), index = index , columns=["a","b"])

In [8]:
df

                a         b
1st 2nd
1   6    0.624263  1.781389
2   7   -1.594175  0.268171
3   8    0.403557 -1.086992
4   9    2.071340  0.400334
5   0    0.462682 -0.622953
17  11  -0.757734  0.863509
91  22  -1.274394  0.344166
23  33   1.809855 -0.276835

In [13]:
df2 = df[:4]

In [15]:
df2

                a         b
1st 2nd
1   6    0.539082 -0.303424
2   7    2.321379 -0.630803
3   8    0.053329 -1.523084
4   9   -0.847302 -0.084966

In [14]:
# Stack - compresses the level in dataframe column

In [19]:
dfstack = df2.stack()

In [20]:
dfstack

1st  2nd
1    6    a    0.539082
          b   -0.303424
2    7    a    2.321379
          b   -0.630803
3    8    a    0.053329
          b   -1.523084
4    9    a   -0.847302
          b   -0.084966
dtype: float64

In [22]:
dfstack.unstack() ## opposite of stack.

                a         b
1st 2nd
1   6    0.539082 -0.303424
2   7    2.321379 -0.630803
3   8    0.053329 -1.523084
4   9   -0.847302 -0.084966

In [23]:
#Piovot tables

In [27]:
df = pd.DataFrame({"A":["a","b","c","d"]*3, 
                  "B": ["A","B","C"]*4,
                  "C":["p","p","p","q","q","q"]*2,
                  "D": np.random.randn(12),
                  "E": np.random.randn(12)})

In [28]:
df

    A  B  C         D         E
0   a  A  p  1.588756  1.192879
1   b  B  p  0.546483  0.216218
2   c  C  p -0.359551 -0.369693
3   d  A  q  0.806530 -1.926629
4   a  B  q  0.015911  0.817288
5   b  C  q -1.540659 -0.178969
6   c  A  p -0.215501 -1.173942
7   d  B  p -0.996425  0.661037
8   a  C  p  0.047597  1.135720
9   b  A  q  0.402766 -0.123971
10  c  B  q  1.126022 -1.415217
11  d  C  q -0.520749 -0.854426

In [ ]:
# Create pivot, Index will be "A" & "B", Column will be "C" and values of the tables will be Column of "D" from DF Data Frame

In [30]:
pd.pivot_table(df, values= "D", index= ["A","B"], columns="C" )

C           p         q
A B
a A  1.588756       NaN
  B       NaN  0.015911
  C  0.047597       NaN
b A       NaN  0.402766
  B  0.546483       NaN
  C       NaN -1.540659
c A -0.215501       NaN
  B       NaN  1.126022
  C -0.359551       NaN
d A       NaN  0.806530
  B -0.996425       NaN
  C       NaN -0.520749